.App {
    width: 600px;
    margin: 20px auto;
}
.fa-xing-square {
    cursor: pointer;
    float: right;
}
.fa-xing-square:hover {
    color: darkred;
}
.form {
    padding: 20px;
    box-shadow: 2px 2px 10px grey;
    margin-bottom: 10px;
}
.list {
    height: 400px;
    padding: 20px 0;
    overflow: auto;
    box-shadow: 2px 2px 10px grey;
}
p {
    margin: 0;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px 0;
    position: absolute;
    width: 601px;
    top: 530px;
}
input {
    border-color: rgba(0, 0, 0, 0.2);
    padding-left: 5px;
}
.itemName {
    margin-right: 20px;
}
.itemCost {
    width: 100px;
}
#add {
    float: right;
    width: 50px;
    background: #ffffff;
    box-shadow: 1px 1px 10px grey;
    cursor: pointer;
    font-weight: bold;
    padding: 2px;
}
.item {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 2px 2px 10px grey;
    position: relative;
}
.scale {
    width: 100%;
    height: 20px;
    background: #cccccc;
    margin-top: 57px;
}
.cost {
    position: absolute;
    right: 30px;
    font-weight: bold;
}
.box {
    height: 100%;
    display: inline-block;
}
.entertainment {
    background: red;
}
.car {
    background: blue;
}
.food {
    background: green;
}
select {
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}
option {
    font-weight: bold;
}
.scaleInfo {
    margin-top: 20px;
    margin-left: 20px;
}
.scaleInfo span {
    position: relative;
    margin-right: 100px;
    font-weight: bold;
}
.scaleInfo span::before {
    content: '';
    position: absolute;
    left: -20px;
    width: 14px;
    height: 14px;
    border: 1px solid black;
}
.red::before {
    background: red;
}
.blue::before {
    background: blue;
}
.green::before {
    background: green;
}